<!-- Footer -->
<footer> 
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3><i class="fa fa-map-marker"></i> 联系我们（Contact）:</h3>
        <p class="footer-contact">
          {{ site.company_name }} <br>
          联系电话（Phone）: {{ site.telephone_number }} <br>
          联系邮箱（Email）: {{ site.company_email }}<br>
        </p>
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-external-link"></i> 导航（Links）</h3>
        <p><a href="/about"> 关于我们（About）</a></p>
        <p><a href="/contact"> 联系我们（Contact）</a></p>
        <p><a href="/blog"> 产品列表（Product）</a></p>
        <p><a href="/team"> 产品团队（Meet the Team）</a></p> 
      </div>
      <div class="col-md-4">
        <h3><i class="fa fa-heart"></i> 社交媒体（Socialize）</h3>
        <img src="assets/img/qrcode.png" class="kefu" alt="微信客服" width="100%" align="right">
        <div id="social-icons">
          {% if site.googleplus_link %}
            <a href="{{ site.googleplus_link }}" class="btn-group google-plus">
              <i class="fa fa-google-plus"></i>
            </a>
          {% endif %}

          {% if site.linkedin_link %}
            <a href="{{ site.linkedin_link }}" class="btn-group linkedin">
              <i class="fa fa-linkedin-square"></i>
            </a>
          {% endif %}

          {% if site.facebook_link %}
            <a href="{{ site.twitter_link }}" class="btn-group twitter">
              <i class="fa fa-twitter"></i>
            </a>
          {% endif %}

          {% if site.facebook_link %}
            <a href="{{ site.facebook_link }}" class="btn-group facebook">
              <i class="fa fa-facebook"></i>
            </a>
          {% endif %}
        </div>
      </div>    
    </div>
  </div>

  <div class="copyright text center">
    <p>&copy; Copyright {{ site.time | date: '%Y' }}, <a href="#">极智汇创智能科技(成都)有限公司</a>. <br>Theme ported by <a href="https://melvinchng.github.io/" target="_blank">Melvin Ch'ng</a></p>
  </div>
</footer>
